* {
    font-family: 'Arial', 'Helvetica', sans-serif;
    box-sizing: border-box;
}

header, footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

body {
    background-image: url("../assets/backgroundimg0.jpg");
}

h1[id="main-title"] {
    text-transform: uppercase;
    word-spacing: 10px;
    letter-spacing: -3px;
    margin-bottom: 0;
    text-shadow: 2px 2px 5px #54abd3;
}

p[class="intro"] {
    font-size: 1.5em;
    margin-top: 0;
    text-decoration: underline;
}

img:first-child {
    display: block;
    width: 25vw;
    height: 25vh;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
}

.container img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    float: left;
}

a[target="_blank"] {
    color: blue;
}

a[href="/internal-page"] {
    color: red;
}

a:hover {
    color: blueviolet;
}

.container ul {
    list-style-type: none;
    clear: left;
    padding: 0;
}

.container ul li {
    width: 150px;
    padding: 5px;
    background-color: cornsilk;
    text-align: center;
    display: inline-block;
    border-radius: 0px 25px;
}